/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "poppins", sans-serif;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}